@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

*{
    margin: 0;
    padding: 0;
    border: 0;
}

#bg {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #25D366;
}

#lft{
    height: 100vh;
    width: 50vw;
    background-color: rgb(8, 153, 201);
    
}
#lftimg{
    height: 100vh;
    width: 50vw;
    /* position: fixed; */
}

#rgt{
    height: 100vh;
    width: 50vw;
    background-color: white;
}
    
#logo{
    /* background-color: black; */
    display: flex;
    margin-top: 5vh;
    margin-left: 5vw;
}
    
#img2{
    height: 13vh;
    width: 15vh;
    border-radius: 7px;
    box-shadow: 4px 7px 5px rgba(0,0,0,.5)
}

#p1{
    padding-top: 1.5vh;
}

#p2{
    font-size: 35px;
    padding-left: 8px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
    
#p3{
    font-size: 35px;
    padding-left: 8px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
    
#p4{
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    padding-top: 7vh;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#userid{
    display: flex;
    margin-left: 14vw;
    margin-top: 3vh;
}
    
#inp1{
    height: 4vh;
    width: 22.5vw;
}
    
#pass{
    display: flex;
    margin-left: 14vw;
    margin-top: 7vh;
}
    
#inp2{
    height: 4vh;
    width: 22.5vw;
}

#forgt{
    display: flex;
    margin-left: 28.5vw;
    margin-top: 1.5vh;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
    
#btn1{
    height: 6vh;
    width: 24.5vw;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 4vh;
    margin-left: 14.2vw;
    box-shadow: 0 3px 2px rgba(0,0,0,1);
}

#ar{
    margin-top: 2vh;
    display: flex;
    }
    
#p7{
    font-weight: bold;
    margin-left: 18vw;
    margin-top: vh;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
    
#p8{
    font-weight: bolder;
    margin-top: 1.5;
    margin-left: .2vw;
    color:#0077b5;
    text-decoration: underline #0077b5;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#icon{
    /* background-color: black; */
    height: 7vh;
    width: 24.4vw;
    margin-left: 14.3vw;
    margin-top: 6vh;
    display: flex;
    justify-content: space-around;
}
    
.ca_img3{
    font-size: 250%;
    width: 3.3vw;
    height: 7vh;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
}

#ca_img4{
    font-size: 250%;
    width: 3.8vw;
    height: 6.8vh;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5)
}